###Агрегатные функции

Агрегатные функции используются для выполнения вычислений над набором строк и возвращения одного значения. Основные агрегатные функции в SQL:

COUNT() — возвращает количество строк, удовлетворяющих условию.

In [ ]:
SELECT COUNT(*) FROM employees; -- Общее количество строк в таблице employees
SELECT COUNT(department_id) FROM employees; -- Количество строк с непустым department_id

SUM() — возвращает сумму значений в столбце.

In [ ]:
SELECT SUM(salary) FROM employees; -- Сумма всех зарплат

AVG() — возвращает среднее значение в столбце.

In [ ]:
SELECT AVG(salary) FROM employees; -- Средняя зарплата

MIN() — возвращает минимальное значение в столбце.

In [ ]:
SELECT MIN(salary) FROM employees; -- Минимальная зарплата

MAX() — возвращает максимальное значение в столбце.

In [ ]:
SELECT MAX(salary) FROM employees; -- Максимальная зарплата

GROUP BY — группирует строки по указанному столбцу для применения агрегатных функций.

In [ ]:
SELECT department_id, AVG(salary)
FROM employees
GROUP BY department_id; -- Средняя зарплата по отделам

HAVING — фильтрует результаты группировки (используется с GROUP BY).

In [ ]:
SELECT department_id, AVG(salary)
FROM employees
GROUP BY department_id
HAVING AVG(salary) > 5000; -- Отделы, где средняя зарплата больше 5000

#  Вложенные запросы

Вложенные запросы (подзапросы) — это запросы внутри других запросов. Они могут использоваться в SELECT, FROM, WHERE, HAVING и других частях SQL-запроса.

Пример в WHERE:

In [ ]:
SELECT first_name, last_name
FROM employees
WHERE salary > (SELECT AVG(salary) FROM employees); -- Сотрудники с зарплатой выше средней

Пример в SELECT:

In [ ]:
SELECT first_name, last_name,
       (SELECT department_name FROM departments WHERE departments.department_id = employees.department_id) AS department_name
FROM employees; -- Добавляем название отдела к каждому сотруднику

Пример в FROM:

In [ ]:
SELECT avg_salary
FROM (SELECT AVG(salary) AS avg_salary FROM employees GROUP BY department_id) AS dept_avg; -- Использование подзапроса как таблицы

Пример с EXISTS:

In [ ]:
SELECT first_name, last_name
FROM employees
WHERE EXISTS (SELECT 1 FROM departments WHERE departments.department_id = employees.department_id); -- Сотрудники, у которых есть отдел

# Соединения (JOIN)

Соединения используются для объединения данных из двух или более таблиц на основе связей между ними.

INNER JOIN — возвращает строки, где есть совпадения в обеих таблицах.

In [ ]:
SELECT employees.first_name, employees.last_name, departments.department_name
FROM employees
INNER JOIN departments ON employees.department_id = departments.department_id; -- Сотрудники с названиями их отделов

LEFT JOIN (LEFT OUTER JOIN) — возвращает все строки из левой таблицы и совпадающие строки из правой. Если совпадений нет, возвращает NULL.

In [ ]:
SELECT employees.first_name, employees.last_name, departments.department_name
FROM employees
LEFT JOIN departments ON employees.department_id = departments.department_id; -- Все сотрудники, даже если у них нет отдела

RIGHT JOIN (RIGHT OUTER JOIN) — возвращает все строки из правой таблицы и совпадающие строки из левой. Если совпадений нет, возвращает NULL.

In [ ]:
SELECT employees.first_name, employees.last_name, departments.department_name
FROM employees
RIGHT JOIN departments ON employees.department_id = departments.department_id; -- Все отделы, даже если в них нет сотрудников

FULL JOIN (FULL OUTER JOIN) — возвращает все строки из обеих таблиц. Если совпадений нет, возвращает NULL.

sql

In [ ]:
SELECT employees.first_name, employees.last_name, departments.department_name
FROM employees
FULL JOIN departments ON employees.department_id = departments.department_id; -- Все сотрудники и все отделы

CROSS JOIN — возвращает декартово произведение строк из обеих таблиц (все возможные комбинации).

In [ ]:
SELECT employees.first_name, departments.department_name
FROM employees
CROSS JOIN departments; -- Все комбинации сотрудников и отделов

SELF JOIN — соединение таблицы с самой собой.

In [ ]:
SELECT e1.first_name AS employee, e2.first_name AS manager
FROM employees e1
LEFT JOIN employees e2 ON e1.manager_id = e2.employee_id; -- Сотрудники и их менеджеры

Комбинирование агрегатных функций, вложенных запросов и соединений
Пример: найти отделы, где средняя зарплата выше средней по компании.

In [ ]:
SELECT d.department_name, AVG(e.salary) AS avg_salary
FROM employees e
INNER JOIN departments d ON e.department_id = d.department_id
GROUP BY d.department_name
HAVING AVG(e.salary) > (SELECT AVG(salary) FROM employees);

Агрегатные функции используются для вычислений над группами строк.

Вложенные запросы позволяют выполнять сложные запросы, используя результаты других запросов.

Соединения позволяют объединять данные из нескольких таблиц на основе связей между ними.