1. Хранимые процедуры
Хранимые процедуры — это набор команд SQL, которые сохраняются в базе данных и выполняются по вызову. Они полезны для выполнения сложных операций, таких как обновление данных или выполнение транзакций. Например, можно создать процедуру для обновления email пользователя, которая будет вызываться одной командой.

2. Функции
Функции похожи на процедуры, но они всегда возвращают значение. Их можно использовать в SQL-запросах. Например, функция может принимать ID пользователя и возвращать его email. Функции часто используются для вычислений или получения данных.

3. Триггеры
Триггеры — это автоматические действия, которые выполняются при изменении данных (например, при вставке, обновлении или удалении). Например, можно создать триггер, который будет записывать в отдельную таблицу информацию о каждом удалении пользователя.

4. Курсоры
Курсоры позволяют обрабатывать данные построчно. Они полезны, когда нужно работать с большими наборами данных, которые нельзя обработать сразу. Например, можно использовать курсор для поочередной обработки каждой записи в таблице пользователей.

5. Управляющие инструменты SQL
Это конструкции для управления логикой выполнения кода, такие как условия (IF), циклы (FOR, WHILE) и обработка ошибок (EXCEPTION). Например, с помощью IF можно проверить условие и выполнить разные действия в зависимости от резу:льтата.

Итог
Процедуры и функции помогают инкапсулировать логику.

Триггеры автоматизируют задачи при изменении данных.

Курсоры позволяют работать с данными построчно.

Управляющие инструменты добавляют гибкость в обработку данных.

In [ ]:
CREATE OR REPLACE PROCEDURE add_passenger(name TEXT)
LANGUAGE plpgsql
AS $$
BEGIN
    INSERT INTO pasengers (first_name,last_name,passport) VALUES (F_name,L_name,passport_number);
END;
$$;

EXEC add_passenger();

Хранимые процедуры. Что делает: Добавляет пассажира в таблицу passengers.

In [ ]:
CREATE OR REPLACE FUNCTION get_passenger_count()
RETURNS INT
LANGUAGE plpgsql
AS $$
BEGIN
    RETURN (SELECT COUNT(*) FROM passengers);
END;
$$;

SELECT get_passenger_count();

Функции. Что делает: Возвращает количество пассажиров в таблице passengers.

In [ ]:
CREATE OR REPLACE FUNCTION log_changes()
RETURNS TRIGGER
LANGUAGE plpgsql
AS $$
BEGIN
    RAISE NOTICE 'Изменение в таблице passengers';
    RETURN NEW;
END;
$$;

CREATE TRIGGER passengers_trigger
AFTER INSERT ON passengers
FOR EACH ROW
EXECUTE FUNCTION log_changes();

Триггеры. Что делает: При вставке новой записи в таблицу passengers выводит уведомление.

In [ ]:
DO $$
DECLARE
    passenger_name TEXT;
    passenger_cursor CURSOR FOR SELECT first_name FROM passengers;
BEGIN
    OPEN passenger_cursor;
    FETCH passenger_cursor INTO passenger_name;
    RAISE NOTICE 'Первый пассажир: %', passenger_name;
    CLOSE passenger_cursor;
END;
$$;

Курсоры. Что делает: Выводит имя первого пассажира из таблицы passengers.

In [ ]:
DO $$
BEGIN
    IF (SELECT COUNT(*) FROM passengers) > 0 THEN
        RAISE NOTICE 'Есть пассажиры';
    ELSE
        RAISE NOTICE 'Пассажиров нет';
    END IF;
END;
$$;

Управляющие инструменты SQL
Условие (IF). Что делает: Проверяет, есть ли пассажири в таблице, и выводит сообщение.

In [ ]:
DO $$
DECLARE
    i INT := 1;
BEGIN
    LOOP
        RAISE NOTICE 'Итерация: %', i;
        i := i + 1;

        IF i > 5 THEN
            EXIT;  -- Выход из цикла, если i > 5
        END IF;
    END LOOP;
END $$;

LOOP (Простой бесконечный цикл, прерывается EXIT)

In [ ]:
DO $$
BEGIN
    FOR i IN 1..3 LOOP
        RAISE NOTICE 'Итерация: %', i;
    END LOOP;
END $$;

FOR LOOP (Цикл с заранее известным числом итераций)

In [ ]:
DO $$
DECLARE
    counter INT := 1;
BEGIN
    WHILE counter <= 3 LOOP
        RAISE NOTICE 'Итерация: %', counter;
        counter := counter + 1;
    END LOOP;
END $$;

WHILE LOOP (Пока условие истинно)

In [ ]:
DO $$
DECLARE
    x INT := 10;
    y INT := 0;
    result INT;
BEGIN
    BEGIN
        result := x / y;
    EXCEPTION
        WHEN division_by_zero THEN
            RAISE NOTICE 'Ошибка: деление на ноль!';
    END;
END $$;

Обработка ошибок (EXCEPTION)
Позволяет обработать ошибки и выполнить альтернативный код.

In [ ]:
BEGIN
    INSERT INTO aircrafts (aircraft_id, model, capacity) VALUES (1, 'Boeing 747', 200);
EXCEPTION
    WHEN unique_violation THEN
        RAISE NOTICE 'Ошибка: Такой ID уже существует!';
END;

Обработка ошибки при вставке данных
Если ID 1 уже существует в таблице aircrafts, будет выведено сообщение об ошибке.